alias ls='ls -hFG'
alias ll='ls -lhFG'
alias la='ls -lhAF'
alias lt='ls -lhrtF'
alias l='ls -CF'
alias lf='ls -F -l -G | grep ^-'
alias lk='ls -F -l -G | grep ^l'
alias lx='ls -F -l -G | grep ^-..x'
alias ldir='ls -F -G -l | grep /$'
alias weather='curl wttr.in/hamburg'
alias ..='cd ..'
alias ...='cd ../..'
alias c='clear'
alias e='exit'
alias vi='nvim'
alias lvim='~/.local/bin/lvim'
alias weather='curl wttr.in'
alias LHT='cd ~/Documents/LHT_local/'
alias wiki='cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents/Wiki && nvim .'
alias dotfiles='cd ~/dotfiles && nvim .'
alias gist='git status'
alias githist='git log --graph --abbrev-commit --decorate --date=relative --all'
