[user]
	name = hsteude
	email = henrik.steude@gmail.com

[core]
	editor = nvim
[filter "nbstripout"]
	clean = \"/Users/henrik/miniconda3/envs/LSTM-GRU/bin/python\" -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = \"/Users/henrik/miniconda3/envs/LSTM-GRU/bin/python\" -m nbstripout -t
