# Inserts a blank line between shell prompts
add_newline = false

[nodejs]
disabled = true

[c]
disabled = true

[python]
disabled = true

[container]
disabled = true

[kubernetes]
disabled = false
format = '[âˆ $context](bold red) '

[username]
format = '[$user]($style) '
disabled = false
show_always = true
